.contentContainer.home
  .homeMap.placeholder
  %h2.prelaunch.textIndent.clear
    Welcome to keywifi pre-launch
  %a.watchVideo.textIndent{ :href => "#" }
    watch the video
  %p
    There is a lot of unused bandwidth out there.  If you're not using your own internet 24-hrs
    %br
    a day, you too have excess capacity. And why give it away via an unlocked hotspot when you could "rent"
    it for a fee?  Many people need broadband access but can't afford it, or they need it at locations away from home or work.
    KeyWifi lets you rent available bandwidth to those people.
  %ul.details
    %li.join
      %p
        %strong
          Join KeyWifi
        and get paid to rent your “Key”
    %li.supply
      %p
        %strong
          Supply
        and get your “keywifi hotspots” found on our maps
    %li.users
      %p
        %strong
          Users
        pay just $9.89/mo to access hotspots all over the place
    %li.promote.noPaddingRight
      %p
        %strong
          Promote
        and make money getting more people to join the network
#networkingWrap
  .networkContent
    %h3.survey.textIndent
      Take Our Survey
    %p
      Some text to explain it
      %br
      %a{ :href => "#" }
        > click here
  
    
  .networkContent.followUs
    %h3.follow.textIndent
      Follow Us
    %ul.networking
      %li
        %a.facebook{ :href => "#" }
          Facebook
      %li
        %a.twitter{ :href => "#" }
          Twitter
      %li
        %a.linkedIn{ :href => "#" }
          Linked In
      %li.noPaddingRight
        %a.youTube{ :href => "#" }
          You Tube
    %p.networking
      Also see Keywifi on other social
      networks
      %a{ :href => "#" }
        > click here
  .networkContent.noPaddingRight
    %h3.share.textIndent
      Share This
    %p.share
      Tell your friends
      %br
      %a{ :href => "#" }
        > click here