.contentContainer.about
  %h2.about.textIndent
    About Keywifi
  .bulletWrap
    %ul.aboutMenu.floatLeft
      %li
        %a{ :href => "#" }
          Keywifi Unlocks Wifi Hotspots.
      %li
        %a{ :href => "#" }
          A Simple Exchange Platform For Wifi Users And Suppliers
      %li
        %a{ :href => "#" }
          Secure Level Of User And Supplier Verification
      %li
        %a{ :href => "#" }
          What Exactly Is A Keywifi 'Key'
    %ul.aboutMenu.floatRight
      %li
        %a{ :href => "#" }
          How Much Does It Cost?
      %li
        %a{ :href => "#" }
          The Philosophy Behind Keywifi
      %li
        %a{ :href => "#" }
          Keywifi Uses Sustainable Resources Efficiently
      %li
        %a{ :href => "#" }
          The Keywifi Community Grows Itself
  %h3.blue
    KeyWifi unlocks wifi hotspots.
  %p
    Our unique internet acces platform has the potential to open up the web for everyone at an extremely
    low cost. There is no hardware to buy, no software to download, no outrageous hidden fees and no long-term
    contracts. KeyWifi is web-based, so getting started is easy - 3 clicks of the mouse and you're good to go.
  %h4.gray.marginTop30px
    Secure level of user and supplier verification
  %p
    We provide a secure level of user and supplier verification and authentication through crowd sourcing and our
    reference system.  These methods have been proven reliable and safe by internet industry leaders and their
    many millions of users. Ebay (ebay logo) relies on customer feedback to foster confidence between purchasers
    and sellers. Wikipedia (link) has become a leader in reliable crowd sourced information. These same principles
    hold true for KeyWifi.com.
  %h3.blue.marginTop30px
    A simple exchange platform for Wifi users and suppliers.
  %p
    Our system is quite simple: sign up with KeyWifi as either a supplier or a user  or both. As a supplier, you
    will create a personal "Key" on our site. With this key you can supply your wifi access to KeyWifi-authenticated
    and verified users.  If for any reason you wish to block such access, you can do so simply by changing your 'lock'
    and getting a new 'key' digitally. This can be done at any point, however KeyWifi recommends you change your 'lock'
    at least once a month.  And our security protocal will remind you of this.
									
								
