.contentContainer.mission
  %h2.mission.textIndent
    'everyone gets what they want'
  %p
    Our goal may seem lofty, but it’s important for us to strike the right balance between everyone's needs.
    This approach allows KeyWifi to create the best overall experience for users and suppliers, staff members,
    partners, investors and everyone involved.  KeyWifi is based on the philosophy that great things arise from
    recognizing interdependence.  Through this cooperative approach, everyone strives to satisfy everyone else's
    needs, and we all ensure that no single interest dominates.  KeyWifi is a triple bottom line business that
    strives to create positive fiscal, social and environmental results in all our endeavors.
								