#footer.clear
  .footerWrap
    %ul.footer
      %li.noPaddingLeft
        %a{ :href => "#" }
          Security Provisions
      %li
        %a{ :href => "#" }
          Pricing
      %li
        %a{ :href => "#" }
          Terms & Conditions
      %li
        %a{ :href => "#" }
          Privacy Policy
      %li.noBorder
        %a{ :href => "#" }
          Contact Us
    %p.footer
      \© 2009 - 2010 KeyWifi LLC. All right reserved.
	


                