#header.clear
  %h1#logo
    =  link_to "Keywifi - Unlocking hotspots near you" ,{:controller =>'users',:action=>'index'},{:class=>''}
  =  link_to "Get cheap internet and make money too! - Sign Me Up Now" ,{:controller =>'users',:action=>'new'},:class => "signup"

